.App {
  width: 99vw;
  height: 99vh;
}

.btn-position {
  margin-left: 10%;
  width: 80%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.grp-name {
  margin-top: 20px;
  font-style: cursive;
  font-weight: 500;
  font-size: 20px;
}

.btn {
  height: 60%;
  margin-top: 1.1%;
  width: 8%;
  border: 3px solid grey;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
}

#button-container {
  width: 23%;
  height: 15%;
  margin-left: 39.5%;
  margin-top: 23%;
}

.hover-btn {
  height: 100%;
  width: 100%;
  font-size: 2.5rem;
}

.top {
  height: 30%;
  width: 50%;
  margin-top: -50%;
  margin-left: 20%;
  padding: 6px 10px 15px 10px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #6a1b9a;
  color: white;
  font-family: Arial, sans-serif;
}

.right {
  height: 30%;
  width: 50%;
  margin-top: -22%;
  margin-left: 105%;
  padding: 6px 10px 15px 10px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #d50000;
  color: white;
  font-family: 'Times New Roman', serif;
  
}

.bottom {
  height: 30%;
  width: 50%;
  margin-top: 5%;
  margin-left: 20%;
  padding: 6px 10px 15px 10px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #388e3c;
  color: white;
  font-family: 'Times New Roman', serif;
}

.left {
  height: 30%;
  width: 50%;
  margin-top: -22%;
  margin-left: -60%;
  padding: 6px 10px 15px 10px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #fbc02d;
  color: white;
  font-family: 'Times New Roman', serif;
}

.active {
  background-color: rgba(104, 23, 227, 0.3);
}

/* Other CSS styles */
.copyright {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 0.8rem;
  font-weight: 350;
  background-color: rgba(104, 23, 227, 0.3);
  padding: 3px 7px;
  border-radius: 7px;
}
